
<h1>Escritos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Descripción</th>
      <th scope="col">Precio</th>
      <th scope="col" colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
    <tr class="table-active">
      <th scope="row"><%= document.name %></th>
      <td><%= document.description %></td>
      <td><%= document.price %></td>
      <td><%= link_to 'Show', document %></td>
      <% if can?(:manage, :all) %>
        <td><%= link_to 'Edit', edit_document_path(document) %></td>
        <td><%= link_to 'Destroy', document, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
  </table>

<br>
<% if can?(:manage, :all) %>
  <i class="fas fa-plus-circle"></i> <%= link_to 'New Document', new_document_path %>
<% end %>
