
<p>
  <strong>Escrito:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Descripción:</strong>
  <%= @document.description %>
</p>

<p>
  <strong>Precio:</strong>
  $<%= @document.price %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %>

<%= link_to 'Back', documents_path %><br>
