<!--==========================
  Hero Section
============================-->
<!-- <section id="hero"> -->
<section id="hero">
  <div class="slide-window">
    <div class="slide-wrapper" style="width: 300%;">
      <div class="slide">
        <div class="slide-image">
          <img src="<%= asset_path 'Corte.jpg' %>" alt="" class="img-fluid">
        </div>
        <div class="slide-caption">
          <div class="icon-box wow fadeInLeft" data-wow-delay="0.2s">
            <h2>jQueryScript.Net</h2>
            <p>Always keep the sun in your heart.</p>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="slide-image">
          <img src="<%= asset_path 'Justicia1.jpg' %>" alt="" class="img-fluid">
        </div>
        <div class="slide-caption">
          <div class="icon-box wow fadeInLeft" data-wow-delay="4s">
            <h2>MASTERY</h2>
            <p>Mastery takes a little time. Give your heart the sun light and grow carefuly.</p>
          </div>
        </div>
      </div>
      <div class="slide">
        <div class="slide-image">
          <img src="<%= asset_path 'hammer.jpg' %>" alt="" class="img-fluid">
        </div>
        <div class="slide-caption">
          <div class="icon-box wow fadeInLeft" data-wow-delay="8s">
            <h2>PURPOSE</h2>
            <p>People who can find a purpose can enjoy the life. As a result, it grows more than anyone, and will be able to contribute.</p>
          </div>
        </div>
      </div>
    </div>
      <div class="slide-controller">
      <div class="slide-control-left">
        <div class="slide-control-line"></div>
        <div class="slide-control-line"></div>
      </div>
      <div class="slide-control-right">
        <div class="slide-control-line"></div>
        <div class="slide-control-line"></div>
      </div>
    </div>
  </div>


</section>
<!-- </section><!-- #hero -->

<main id="main">

  <!--==========================
    About Us Section
  ============================-->
  <section id="about">
    <div class="container">
      <div class="row about-container">

        <div class="col-lg-6 content order-lg-1 order-2">
          <h2 class="title">Quiénes Somos...</h2>
          <p>
            Somos un equipo de abogadas con amplia experiencia y trayectoria en materia
            de Derecho de Familia, Derecho Civil y Derecho Penal, orientadas a otorgar un servicio
            de excelencia y con miras a otorgar un servicio de calidad, y acercar la justicia al alcance
             de tus manos en aquellos trámites en que puede comparecer por tus propios medios,
             facilitándote para ello los recursos materiales para llevarlo a cabo
          </p>

          <div class="icon-box wow fadeInUp">
            <div class="icon"><i class="fas fa-shopping-bag"></i></div>
            <h4 class="title"><a href="">Somos Nº 1 en Innovación:</a></h4>
            <p class="description">Somos pioneros en este modelo de negocio que busca acercar la justicia a tus manos. No más gastos innecesarios, no más perdida de tiempo yendo presencialmente al Tribunal. Quédate con nosotros, quédate con los mejores.</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
            <div class="icon"><i class="fas fa-image"></i></div>
            <h4 class="title"><a href="">Magni Dolores</a></h4>
            <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
          </div>

          <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
            <div class="icon"><i class="fas fa-landmark"></i></div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>

        </div>

        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight">
          <img src="<%= asset_path 'centro_justicia.jpg'%>" alt="" class="img-fluid">
        </div>
      </div>

    </div>
  </section><!-- #about -->

  <!--==========================
    Services Section
  ============================-->
  <section id="services">
    <div class="container wow fadeIn">
      <div class="section-header">
        <h3 class="section-title">Servicios</h3>
        <p class="section-description">Servicios de documentos personalizados</p>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="box">
            <div class="icon"><a href=""><i class="fas fa-gavel"></i></a></div>
            <h4 class="title"><a href="">Lorem Ipsum</a></h4>
            <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
          <div class="box">
            <div class="icon"><a href=""><i class="fas fa-balance-scale"></i></a></div>
            <h4 class="title"><a href="">Dolor Sitema</a></h4>
            <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="box">
            <div class="icon"><a href=""><i class="fas fa-clipboard-list"></i></a></div>
            <h4 class="title"><a href="">Sed ut perspiciatis</a></h4>
            <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
          </div>
        </div>

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
          <div class="box">
            <div class="icon"><a href=""><i class="far fa-clock"></i></a></div>
            <h4 class="title"><a href="">Ahorra tiempo</a></h4>
            <p class="description">Mediante nuestra metodología, todo lo podrás realizar a través de tu computador. Solo tienes que llenar el formulario del escrito que ponemos a tu disposición.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.4s">
          <div class="box">
            <div class="icon"><a href=""><i class="fas fa-handshake"></i></a></div>
            <h4 class="title"><a href="">Trato Personalizado</a></h4>
            <p class="description">Los documentos personalizados se adecuan a tu causa particular</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.6s">
          <div class="box">
            <div class="icon"><a href=""><i class="fas fa-money-check-alt"></i></a></div>
            <h4 class="title"><a href="">Gastos innecesarios</a></h4>
            <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- #services -->

  <!--==========================
  Call To Action Section
  ============================-->
  <section id="call-to-action">
    <div class="container wow fadeIn">
      <div class="row">
        <div class="col-lg-9 text-center text-lg-left">
          <h3 class="cta-title">Crea tus Escritos</h3>
          <h5 class="cta-text"> Personaliza tus documentos llenando un pequeño formulario con los datos respectivos de cada escrito.</h5>
        </div>
        <div class="col-lg-3 cta-btn-container text-center">
          <% if can? :read, Document %>
            <%= link_to "Ir a Escritos", documents_path, class: 'cta-btn align-middle' %>
          <% else %>
            <a class="cta-btn align-middle" href="#">Volver</a>
          <% end %>
        </div>
      </div>

    </div>
  </section><!-- #call-to-action -->


  <!--==========================
    Team Section
  ============================-->
  <section id="team">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h3 class="section-title">Staff</h3>
        <p class="section-description">Te presentamos a nuestro staff de profesionales detrás de este proyecto</p>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="img-thumbnail"><img src="<%= asset_path 'angelica.jpg' %>" alt="" class="img-fluid"></div>
            <h4>Angélica Cortés</h4>
            <span>Cofundadora y Abogada Universidad Central</span>
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href="https://www.facebook.com/a.cortes.go" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-google-plus-g"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="img-thumbnail"><img src="<%= asset_path 'daniela.jpg' %>" alt="" class="img-fluid"></div>
            <h4>Daniela Bustamante</h4>
            <span>Cofundadora y Abogada Universidad Central</span>
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href="https://www.facebook.com/daniela.b.pavez" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-google-plus-g"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="img-thumbnail"><img src="<%= asset_path 'naya.jpg' %>" alt="" class="img-fluid"></div>
            <h4>Nayareth Navarrete</h4>
            <span>Abogada Universidad Central</span>
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href="https://www.facebook.com/naya.navarrete" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-google-plus-g"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6">
          <div class="member">
            <div class="img-thumbnail"><img src="<%= asset_path 'ricardo.jpg' %>" alt="" class="img-fluid"></div>
            <h4>Ricardo Suárez</h4>
            <span>Coordinador</span>
            <div class="social">
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href="https://www.facebook.com/ricardo.suarezsoto" target="_blank"><i class="fab fa-facebook-f"></i></a>
              <a href="https://plus.google.com/+RicardoSuarez_richota" target="_blank"><i class="fab fa-google-plus-g"></i></a>
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section><!-- #team -->

  <!--==========================
    Contact Section
  ============================-->
  <section id="contact">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h3 class="section-title">Contacto</h3>
        <p class="section-description">Nos encontramos en el Centro de Justicia</p>
      </div>
    </div>

    <!-- Uncomment below if you wan to use dynamic maps -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5903.5603040279375!2d-70.65998847920001!3d-33.47325995403744!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c53c9f8374e7%3A0xb373878bd678c8cd!2sCentro+De+Justicia!5e0!3m2!1ses!2scl!4v1548806264457" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
    <div class="container wow fadeInUp mt-5">
      <div class="row justify-content-center">

        <div class="col-lg-3 col-md-4">

          <div class="info">
            <div>
              <i class="fa fa-map-marker"></i>
              <p>Av. Pedro Montt 1606, Santiago<br>Región Metropolitana</p>
            </div>

            <div>
              <i class="fa fa-envelope"></i>
              <p>info@example.com</p>
            </div>

            <div>
              <i class="fa fa-phone"></i>
              <p>+569 53506541</p>
            </div>
          </div>

          <div class="social-links">
            <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
            <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
            <a href="#" class="instagram"><i class="fab fa-instagram"></i></a>
            <a href="#" class="google-plus"><i class="fab fa-google-plus-g"></i></a>
          </div>

        </div>

        <div class="col-lg-5 col-md-8">
          <div class="form">
            <div id="sendmessage">Your message has been sent. Thank you!</div>
            <div id="errormessage"></div>
            <form action="" method="post" role="form" class="contactForm">
              <div class="form-group">
                <input type="text" name="name" class="form-control" id="name" placeholder="Tu Nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Tu email" data-rule="email" data-msg="Please enter a valid email" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Asunto" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validation"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                <div class="validation"></div>
              </div>
              <div class="text-center"><button type="submit">Enviar</button></div>
            </form>
          </div>
        </div>

      </div>

    </div>
  </section><!-- #contact -->

</main>

<!--==========================
  Footer
============================-->
<footer id="footer">
  <div class="footer-top">
    <div class="container">

    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong>Tu comparecencia personal</strong>. All Rights Reserved
    </div>
    <div class="credits">
      <!--
        All the links in the footer should remain intact.
        You can delete the links only if you purchased the pro version.
        Licensing information: https://bootstrapmade.com/license/
        Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Regna
      -->
      Designed by Ricardo Suárez
    </div>
  </div>
</footer><!-- #footer -->

<a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>
