<br>
<div class="row">
  <div class="col-md-2">

  </div>
  <div class="col-md-5">
    <div class="card border-primary mb-4" style="max-width: 30rem;">
      <div class="card-header"><h2>Formulario de Registro</h2></div>
      <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'form'}) do |f| %>
          <%= devise_error_messages! %>

          <div class="field"><br />
            <h4 class="card-title">
              <%= f.label :name, "Nombre y Apellido" %>
              <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
            </h4>
          </div>

          <div class="field"><br />
            <h4 class="card-title">
              <%= f.label :email %>
              <%= f.email_field :email, autocomplete: "email" %>
            </h4>
          </div>

          <div class="field"><br />
            <h4 class="card-title">
              <%= f.label :password %>
              <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />
              <%= f.password_field :password, autocomplete: "new-password" %>
            </h4>
          </div>

          <div class="field"><br />
            <h4 class="card-title">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
            </h4>
          </div>

          <div class="field"><br />
            <h4 class="card-title">
              <%= f.label :phone, "Teléfono" %>
              <%= f.text_field :phone, autocomplete: "phone" %>
            </h4>
          </div>
          
          <div class="field"><br/>
            <h4 class="card-title">
              <%= f.label :address, "Dirección" %>
              <%= f.text_field :address, autocomplete: "address" %>
            </h4>
          </div>

          <div class="field"><br />
            <h4 class="card-title">
              <%= f.label :region_id, "Región" %>
              <%= f.select :region_id, @regions, include_blank: true %>
            </h4>
          </div>

          <div class="field"><br />
            <h4 class="card-title">
              <%= f.label :commune_id, "Comuna"%>
              <%= f.select :commune_id, @communes, include_blank: true %>
            </h4>
          </div>

          <div class="actions">
            <%= f.submit "Registrarse", class:'btn btn-primary' %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
  <div class="col-md-5">
    <div class="card border-primary mb-4" style="max-width: 20rem;">
      <div class="card-body">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
