<!-- Navigation -->

<header id="header">
  <div class="container">

    <div id="logo" class="pull-left">
      <!-- <a href="#hero"><img src="img/logo.png" alt="" title="" /></img></a> -->
      <!-- Uncomment below if you prefer to use a text logo -->
      <h1><a href="#hero">Regna</a></h1>
    </div>

    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><%= link_to 'Home', root_path, class: "navbar-brand" %></li>
        <% if user_signed_in? %>
          <li>Bienvenido <%= current_user.name %>  </li>
        <% end %>
        <% if user_signed_in? %>
          <li><%= link_to "Documentos", documents_path %></li>
        <% end %>
        <li><a href="#services">Services</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#team">Team</a></li>
        <li class="menu-has-children"><a href="">Sesión</a>
          <ul>
            <% if !user_signed_in? %>
            <li class="nav-item mx-0 mx-lg-1">
              <%= link_to 'Ingreso', new_user_session_path, class: 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger'%>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <%= link_to 'Registro', new_user_registration_path, class: 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger'%>
            </li>
            <% else %>
            <li class="nav-item mx-0 mx-lg-1">
              <%= link_to 'Salir', destroy_user_session_path, method: 'DELETE', class: 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger'%>
            </li>
            <% end %>
            <li><a href="#">Drop Down 5</a></li>
          </ul>
        </li>
        <li><a href="#contact">Contact Us</a></li>
      </ul>
    </nav><!-- #nav-menu-container -->
  </div>
</header><!-- #header -->
