<!-- Navigation -->

<nav class="navbar navbar-expand-lg bg-secondary fixed-top ">
  <%= link_to 'Home', root_path, class: "navbar-brand" %>
  <div class="collapse navbar-collapse justify-content-between id="navbarResponsive"">

    <% if user_signed_in? %>
    <u>
      <li>Bienvenido <%= current_user.name %>  </li>
    </u>
    <% end %>
    <% if user_signed_in? %>
    <u>
      <li><%= link_to "Documentos", documents_path %></li>
    </u>
    <% end %>
  </div>

  <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
    Menu
    <i class="fas fa-bars"></i>
  </button>

  <div class="collapse navbar-collapse text-uppercas" id="navbarResponsive">
    <ul class="navbar-nav ml-auto">
      <% if !user_signed_in? %>
      <li class="nav-item mx-0 mx-lg-1">
        <%= link_to 'Ingreso', new_user_session_path, class: 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger'%>
      </li>
      <li class="nav-item mx-0 mx-lg-1">
        <%= link_to 'Registro', new_user_registration_path, class: 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger'%>
      </li>
      <% else %>
      <li class="nav-item mx-0 mx-lg-1">
        <%= link_to 'Salir', destroy_user_session_path, method: 'DELETE', class: 'nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger'%>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
